/* TODO */

/* Reset CSS */

/* Universal selector (*) targets every element (regardless tag, class, ID) */

*{
    margin: 0;
    padding:  0;
    /* outline: 1px dashed #000; */
}

html{
    font-size: 16px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f3f5f5;

}



/* Splits the entire page into 60% and 40% */
.container{
    display: grid;
    grid-template-columns: [full-start] 0.6fr [center-end center-start] 0.4fr [full-end];
    grid-template-rows: repeat(6, min-content);
}
/* TODO */

/** Start of Desktop Section **/
/** ************************ **/

/* Set up the navbar for the desktop */
nav {
    display: flex;
    grid-column: full-start / full-end;
    justify-content: space-between;
    height: 4rem;
    
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    padding-right: 1rem;
    align-content: center;
}

nav ul li:last-child{
    padding-right: 1.5rem;
 }


nav ul li a{
   font-size: 0.75rem;
}

nav > a{
    display: flex;
    align-items: center;
}

/* Set up logo styles */
.logo{
    height:4rem;
    margin-left: 1.5rem;
}

.logoname {
    text-transform: uppercase;
    font-weight:bold;
    line-height: 2rem;
    color: #484848;
}

.logoname:nth-of-type(2) {
    font-weight: lighter;
    color: #aaa;

}

/* Set up navigation links' styles */
nav a {
    text-decoration: none;
    color: inherit;
}

nav a:hover{
    color:#aaa
}

/* Set up header area */
header {
    display: flex;
    background-color:#d8d8d8;
    align-items: center;
    justify-content: center;
}

.imgcontainer{
    padding: 2rem 1.5rem;
}

/* Make sure the image only takes 100% of the grid. */
header > img {
    max-width: 100%;
    height: auto;
}

header > div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 18rem;
}

header div > h1{
    font-size: xx-large;
}

header div > h2{
    font-size: large;
}

/* To add padding to the Learn something new div so the button is center, */
.learn-start{
    padding-right: 1.5rem;
}

/* Add Styling to the Start Here button */
header button{
    display: block;
    width: 100%;
    background-color: #484848;
    color: white;
    text-align:center;
    padding: 0.5rem 0;

    
}

header a{
    text-decoration: none;
}


/* hover effect for call to action link */
header button:hover{
    background-color: lightslategray;
}





/* Set up practice section */

.practice{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.practice > .practice-text > h1{
    margin-bottom: 1.5rem;
    font-size: xx-large;
    
}
.practice > .imgcontainer > img{
    max-width: 100%;
    height: auto;
   
 }

/* * .practice > h1 font managed in header.  */

.practice > .imgcontainer > p{
    font-size:small;
    font-weight:lighter;
   
}

.practice >  .practice-text{
    padding: 0 1.5rem; 


}

.practice > .practice-text > p > span{
    font-weight:bold;
    font-size: small;
    display : block;
    margin: auto;
    padding: 2rem 0;
}

/* Set up events section */

.events{
    display:grid;
    grid-template-rows: repeat(3, min-content);
    /* padding-top:2rem; */
    
}

.events > div{
    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
    border: 1px solid lightgray;
    padding-top: 2.0625rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-top-style: none;
    
    /* padding: 1rem; */
}

.events > div:last-child{
    border-bottom-style: none;
}

.events-img-desktop{
    max-width: 100%;
    height: auto;
    /* padding: 1rem; */
}

.events div:nth-of-type(3){
    background-color: lightgray;
}

.events div:hover{
    background-color: lightgray;
}

.content{
    align-content: center;
    padding-left: 1rem;
    line-height: 1.4;
}

.content p{
    font-size: 0.9rem;
    color: #464646;
}
.content h3{
    margin-top: 0.5rem;
    font-size: large;
}

.content a{
    text-decoration: none;
    color: rgb(116, 154, 238);
    padding-top: .5rem;
    
}
/* Hide events mobile */
/* Start Learning tab / prject cards */

.start-learning{
    display: grid;
    /* padding-top: 2rem; */
    background-color: #d8d8d8;
    grid-column: 1 / -1;
    padding:0  4.5rem 2rem;
    
}

.start-learning h1{
    text-align: center;
    font-size: xx-large;
    padding: 2rem;
    color: rgb(36, 36, 36);
}

.learning-project{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
}

.learningcard {
    width: auto;
    background-color: white;
    margin: auto;
    height: 100%;
  }

.card-content{
    color: #464646;
    padding: 1rem 1rem ;
    padding-bottom: 1.5rem;
}

.card-content h4{
    padding-bottom: .5rem;
}

.card-content .scope{
    padding-bottom: .5rem;
    font-size: small;
    color:#757575
}

.card-content span {
    color:#757575;
    font-size: small;
}

.learningcard a{
    text-decoration:none;
}

  
.learningcard img{
    max-width: 100%;
    height: auto;
  }

  .learningcard:hover{
    transition: 0.2s ease-out;
    transform: scale(1.05);
    box-shadow: 0.5rem 0.5rem 1rem rgb(56, 56, 56);
  }

/* Start of Thesis exhibit */
.thesis-title h1 {
    font-size: xx-large;
}

.thesis-exhibit{
    display: grid;
    grid-column: 1 / -1;
    padding-top: 2rem;
    padding-bottom: 2rem;
    justify-content: center;   
}

.thesis-video{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.thesis-events {
    display:grid;
    grid-template-rows: repeat(2, min-content);
}

.thesis-events > div > img{
    max-width: 100%;
    height: auto;
}

.thesis-events > div{
    display: grid;
    grid-template-columns: 0.35fr 0.65fr;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
}


.thesis-events div:hover{
    background-color: lightgray;
}

.thesis-text-content{
    padding-top: 1.5rem;
}

.thesis-text-content p{
    padding-top: .5rem;
    padding-bottom: 2rem;
}


/* Start of footer */

footer{
    display: flex;
    grid-column: full-start/full-end;
    justify-content: space-between;
    border-top: 1px solid #e7e7e7;
    padding: 1rem 1.5rem 2rem;  
    color: #464646
}

footer > ul {
    display: flex;
    list-style: none;
     
}

footer a{
    text-decoration: none;
    color: #464646
}
footer a:hover{
    color: #aaa;
}

footer > ul > li {
    margin-right: 0.5rem;
}


/* Hide mobile nav, hide desktopimages, Hide footer links  in desktop version. */
    #nav-mobile, .events-img-mobile, footer > ul{
        display: none;
        
    }

    

/** ********************** **/
/** End of Desktop Section **/


/** Start of Mobile Section **/
/** *********************** **/

/* if the width of screen is 640px and below (aka 40rem x 16px) */
@media screen and (max-width: 40rem ) {
    
    /* things that will be hidden in mobile mode */
    nav, .practice, .thesis-events, .thesis-text-content, .events-img-desktop{
        display: none;
    }

    #nav-mobile{
        display: flex;
        align-items: center;
        grid-column: full-start/full-end;
        justify-content: space-around;
        height: 4rem;
      
    }
/* Prevents the mobile side to be scrollable to thr right */
    .container {
        display:block;
        max-width: 100%;
        overflow-x: hidden;
    }
        
   
    .imgcontainer{
    padding: 0;
    }

    .practice .imgcontainer {
        padding-bottom: 1rem;
    }

    header > div {

        display: block;
        margin: auto;
        width: auto;
        padding-left: 2rem;
        align-content: center;
        justify-content: center;
    
    }
    
    header div > h1{
        font-size: xx-large;
        margin-bottom: 2rem;
    }
    
    header div > h2{
        font-size: large;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }

    .learning-project{
        display: flex;
        flex-direction: column;
    }
    .projectcard {
        width: auto;
        background-color: white;
        margin: auto;
        height: 100%;
      }

      .events-img-mobile {
        display:block;
        width: 100%;
        
      }

    .events{
    display:grid;
    grid-column: full-start/full-end;
    
    }

    .events > div{
        display: flex;
        flex-direction: column;
        padding: 0;
        padding: 4rem 1rem 2rem 1rem;
        border: none; /* Remove border from desktop-mpde */

    }

    .events > div:first-child{
        padding-top:1rem;
    }

    .events > div > .content {
        width: 100%;
        height: auto;
        margin: 0;
        line-height: 1.5;
    }

    .events > div > .content h3 {
    font-size: x-large;
    }

    /* Removing easter egg from the mobile version */
    .events div:hover{
        background-color: #f3f5f5;;
    }
    .start-learning{
        background-color: #f3f5f5;
    }
    .events div:nth-of-type(3){
    background-color: #f3f5f5;
    }

}
/* *********************** */
/** End of Mobile Section **/